In [6]:
f=open("D\textfile.txt",'w')
f.write("first line\n")
f.write("Second line\n")
f.write("Third line\n")
f.close()
k=open("D:\textfile.txt",'r')
print(k.readline())
print(k.readline())
print(k.readline())
k.close()

first line

Second line

Third line

In [7]:
m=open("D:\textfile.txt",'a')
m.write("fourth line\n")
m.write("fifth line\n")
m.close()
p=open("D:\textfile.txt",'r')
print(p.read())
p.close()

first line
Second line
Third line
fourth line
fifth line

In [8]:
with open("D:\textfile.txt",'r')as file:
  lines=file.readlines()
  print(lines)

['first line\n', 'Second line\n', 'Third line\n', 'fourth line\n', 'fifth line\n']

In [12]:
import json
x='{"name":"John","age":30,"city":"New York"}'
y=json.loads(x)
print(y["age"])

30

In [15]:
data={
    "name":"John",
    "age":30,
    "city":"New York"
}
json_data=json.dumps(data)
print(json_data)

{"name": "John", "age": 30, "city": "New York"}